{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comments list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcomment</th>
                <th>Text</th>
                <th>Data</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{ path('comments_show', { 'id': comment.idComment }) }}">{{ comment.idComment }}</a></td>
                <td>{{ comment.text }}</td>
                <td>{% if comment.data %}{{ comment.data|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comments_show', { 'id': comment.idComment }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comments_edit', { 'id': comment.idComment }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comments_new') }}">Create a new comment</a>
        </li>
    </ul>
{% endblock %}
